:root {
    --text-color: #555;
    --main-color: #B71C1C;
    --main-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.paginas {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.botaomenu {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
    transition: color 0.3s;
}

.botaomenu:hover {
    color: #000;
}

.botao-usuario {
    display: flex;
    gap: 30px;
    padding: 20px;
}

#entrar {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
    transition: color 0.3s;
    padding: 5px;
}

#entrar:hover {
    color: #000;
}

#cadastrar {
    text-decoration: none;
    color: #fff;
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3 ease;
}

#cadastrar:hover {
    background-color: #8B0000;
}

.cabecalho-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px;
    gap: 24px;
}

#secao-sobre {
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px; 
}


.titulo {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 48px;
}

.paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nos {
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: 400;
    size: 20px;
}

.metricas-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
    gap: 20px;
    padding: 30px;
}

.card {
    padding: 40px;
    gap: 30px;
    font-family: var(--main-font);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.6 ease;
}

.card:hover {
    transform: scale(1.01);
}

.valores {
    color: var(--main-color);
    font-size: 60px;
    font-weight: 600;
}

.sub-titulo {
    font-size: 18px;
    font-weight: 500;
}

.texto {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
}


.vagas-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-family: var(--main-font);
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.secao-talentos {
    background-color: #8E24240D;
    color: var(--main-color);
    padding: 7px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.3 ease;
}

.secao-talentos:hover {
    transform: scale(1.05);
}

.titulo-talentos {
    font-weight: 600;
    font-size: 38px;   
}

.descricao-talentos {
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
}

.talentos img {    
    width: 100%;
    gap: 40px;
    padding: 20px;
}
.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.design {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 40px;
   padding: 20px;
   
}

.desenvolvimento-software {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    
}

#area-design {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    gap: 8px;
}

#area-desenvolvimento-software {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    gap: 8px;           
}

.vaga {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
    height: 126px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 16px;
    transition: transform 0.6 ease;
}

.vaga:hover {
    transform: scale(1.03);
}

.titulo-vaga {
    font-size: 18px;
    font-weight: 400;
}

.jornada {
    padding: 40px 40px 40px 0;
    color: var(--text-color);
    font-weight: 500;
}

.salario {
    color: var(--text-color);
    font-weight: 500;
}

.depoimento {
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #8E24240D;
    padding: 30px;
    gap: 24px;
    width: 95%;
    border-radius: 16px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
}

.titulo-depoimento {
    display: flex;
    justify-self: center;
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    padding: 24px; 
}

.texto-depoimento {
    display: flex;
    text-align: center;
    padding: 16px;
    font-size: 36px;
    font-weight: 400;
    width: 1200px;
}

.colaborador {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.colaborador img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

#nome {
    padding: 20px 0 0 0;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
}

#cargo {
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--text-color);
    font-size: 14px;
}

.oportunidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-family: var(--main-font);
}

.titulo-oportunidades {
    font-weight: 600;
    font-size: 38px;
    padding: 20px;
}

.texto-oportunidades {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    padding: 20px;
}

.newsletter{
    display: flex;
    justify-content: space-around; 
    gap: 16px;
}

.newsletter input {
    outline: none;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    width: 300px;
    height: 50px;
    padding: 20px;
    border-radius: 16px;
}

.newsletter button {
    border: none;
    color: #fff;
    background-color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    width: 120px;
    padding: 5px;
    transition: transform 0.3 ease;
}

.newsletter button:hover {
    background-color: #8B0000;
}

#copyright {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    padding: 24px;
}