:root {
    --text-color: #555;
    --main-color: #B71C1C;
    --main-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.paginas {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.botaomenu {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
    transition: color 0.3s;
}

.botaomenu:hover {
    color: #000;
}

.botao-usuario {
    display: flex;
    gap: 30px;
    padding: 20px;
}

#entrar {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
    transition: color 0.3s;
    padding: 5px;
}

#entrar:hover {
    color: #000;
}

#cadastrar {
    text-decoration: none;
    color: #fff;
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3 ease;
}

#cadastrar:hover {
    background-color: #8B0000;
}

.cabecalho-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px;
    gap: 24px;
}

#secao-sobre {
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px; 
}


.titulo {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 48px;
}

.paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nos {
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: 400;
    size: 20px;
}

.metricas-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
    gap: 20px;
    padding: 30px;
}

.card {
    padding: 40px;
    gap: 30px;
    font-family: var(--main-font);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.6 ease;
}

.card:hover {
    transform: scale(1.01);
}

.valores {
    color: var(--main-color);
    font-size: 60px;
    font-weight: 600;
}

.sub-titulo {
    font-size: 18px;
    font-weight: 500;
}

.texto {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
}


.vagas-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-family: var(--main-font);
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.secao-talentos {
    background-color: #8E24240D;
    color: var(--main-color);
    padding: 7px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.3 ease;
}

.secao-talentos:hover {
    transform: scale(1.05);
}

.titulo-talentos {
    font-weight: 600;
    font-size: 38px;   
}

.descricao-talentos {
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
}

.talentos img {    
    width: 100%;
    gap: 40px;
    padding: 20px;
}